<!DOCTYPE html>
<html lang="en">
<head>
	<title>Hellow News Board</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Batang&family=Gowun+Dodum&family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">

</head>
<body class="is-preload">
    <!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
                <header id="header">
                    <div class="inner">

							<!-- Nav -->
								<nav>
									<ul>
										<ul>
											<%if (user==null){%>
												<li><a href="http://127.0.0.1:3000/login">로그인</a></li>
												<li><a href="http://127.0.0.1:3000/join">회원가입</a></li>
											<%} else {%>
												<a href="http://127.0.0.1:3000/logout">로그아웃</a>
											<%}%>
										</ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="http://127.0.0.1:3000/main">뉴스</a></li>
							<li><a href="http://127.0.0.1:3000/feed">피드</a></li>
							<li><a href="http://127.0.0.1:3000/board">자유 게시판</a></li>
							<li><a href="http://127.0.0.1:3000/today">투데이 뉴스</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1><br /></h1>
							<h1>자유게시판</h1>
							<h1></h1>
								<div class="key_choice">
									<span><a href="http://127.0.0.1:3000/board" class="button" id="choice">전체</a></span>
									<span><a href="http://127.0.0.1:3000/societyboard" class="button">정치/경제/사회</a></span>
									<span><a href="http://127.0.0.1:3000/sportsboard" class="button">스포츠</a></span>
									<span><a href="http://127.0.0.1:3000/lifeboard" class="button">생활문화</a></span>
									<span><a href="http://127.0.0.1:3000/entertainboard" class="button">연예</a></span>
								</div>
							<div align="right">
								<%if (user!=null){%>
									<span><a href="http://127.0.0.1:3000/board_write" class="button">글작성</a></span>
								<%}%>
							</div>
								<div class="row">
									<%for(let i=0; i < rows.length; i++) {%>
									<div class="col-4 col-12-medium">										
											<section class="box feature">
												<a href="http://127.0.0.1:3000/board_read/<%=rows[0].text_title%>" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
												<div>
													<h2><%=rows[i].text_title%></h2>
													<p class="board_content"><%=rows[i].text_content%></p>
												</div>
											</section>
		
									</div>
									<%}%>
								</div>
						</div>
					</div>
					
				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							</section> -->
							<section>
								<h2>Follow</h2>
								<ul class="icons">
									<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
									<li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li>
									<li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
									<li><a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>
            <!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

</body>
</html>