<!DOCTYPE HTML>
<html>
<head>
    <title>Hello News Join</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
    <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
                <header id="header">
                    <div class="inner">

                        <!-- Logo -->
                        <a href="key.html" class="logo">
                            <h1><span class="title"><img src="./images/logo.png" alt="" width="700"></span></h1>
                        </a>

                    </div>
                </header>
            <!-- Main -->
            <div id="main">
                <section>
                    <h2 class="login">Join</h2>
                    <form method="post" action="http://127.0.0.1:3000/join_exe">
                            <input type="email" name="email" id="email" placeholder="사용할 이메일을 입력하세요" /><br>                  
                            <input type="password" name="pw" id="pw" placeholder="사용할 비밀번호를 입력하세요" /><br> 
                            <input type="text" name="nick" id="nick" placeholder="사용할 닉네임을 입력하세요" /><br> 
                            <input type="text" name="name" id="name" placeholder="이름을 입력하세요" />
                            <div class="primary">
                                <ul class="actions">
                                    <li><input type="submit" value="가입완료" class="primary" /></li>
                                </ul>
                            </div>
                        
                    </form>
                </section>
            </div>
            
            <!-- Footer -->
                <footer id="footer">
                    <div class="inner">
                        <section>
                            <h2>Follow</h2>
                            <ul class="icons">
                                <li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
                                <li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
                                <li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
                                <li><a href="#" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
                                <li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
                                <li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li>
                                <li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
                                <li><a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
                            </ul>
                        </section>
                        <ul class="copyright">
                            <li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul>
                    </div>
                </footer>

        </div>

    <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

</body>

</html>