<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/main.css" />
	<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <title>Document</title>
</head>
<body>
    <div class="inner">
        <section>
            <h2 class="login">Join</h2>
            <form method="post" action="http://127.0.0.1:3000/join_exe">
                <input type="email" name="email" id="email" placeholder="사용할 이메일을 입력하세요" /><br>                  
                <input type="password" name="pw" id="pw" placeholder="사용할 비밀번호를 입력하세요" /><br> 
                <input type="text" name="nick" id="nick" placeholder="사용할 닉네임을 입력하세요" /><br> 
                <input type="text" name="name" id="name" placeholder="이름을 입력하세요" />
                <ul class="actions">
                    <li><input type="submit" value="가입완료" class="primary1" /></li>
                </ul>
            </form>
        </section>
        
           
    </div>
</footer>
</body>
</html>