<!DOCTYPE HTML>
<!--
	Strata by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Hello News Feed</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./resources/assets/css/main.css" />
		 

	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
		
			<!-- Header -->
				<header id="header">
					<div class="inner">
						<a href="#" class="image avatar"><img src="../public/resources/assets/css/images/profile.jpg" alt="" /></a><br>
						<strong class="follow">팔로잉</strong>
						<strong class="follow">0명</strong><br>
						<strong class="follow">팔로우</strong>
						<strong class="follow">0명</strong><br>
						<br>
						<strong class="follow"><a href="http://127.0.0.1:3000/update">회원정보수정</a></strong><br>
					</div>				
				</header>
				
		<!-- Main -->
				<div id="main">
					<nav>
						<ul>
							<a href="http://127.0.0.1:3000/logout">로그아웃</a>
							<li><a href="#menu">Menu</a></li>
						</ul>
					</nav>

						<nav id="menu">
							<h2>Menu</h2>
							<ul>
								<li><a href="http://127.0.0.1:3000/main">뉴스</a></li>
								<li><a href="http://127.0.0.1:3000/feed">마이피드</a></li>
								<li><a href="http://127.0.0.1:3000/board">자유 게시판</a></li>
								<li><a href="http://127.0.0.1:3000/today">투데이 뉴스</a></li>
							</ul>
						</nav>
				</div>
			
				<div id="main">
					<div class="inner">
						<section id="two">
							<h3>🌍게시물</h3>
							<div class="row">
								<%for(let i=0; i < rows.length; i++) {%>
									<div class="col-4 col-12-medium">										
											<section class="box feature">
												<form action="http://127.0.0.1:3000/board_read" method="post">
													<img src="images/pic01.jpg" alt="" /></a>
													<div>
														<h2><%=rows[i].text_title%></h2>
														<p class="board_content"><%=rows[i].text_content%></p>
													</div>
													<input type="hidden" name="text_title"  value="<%=rows[i].text_title%>">
													<input type="submit" value="조회">
												</form>												
											</section>	
									</div>
									<%}%>
							</div>
						</section>
					</div>
				</div>
		
			

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="javascript:shareTwitter();" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="javascript:shareFacebook();" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
								<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>
			
		</div>

		<!-- Scripts -->
			<script src="./resources/assets/js/jquery.min.js"></script>
			<script src="./resources/assets/js/jquery.poptrox.min.js"></script>
			<script src="./resources/assets/js/browser.min.js"></script>
			<script src="./resources/assets/js/breakpoints.min.js"></script>
			<script src="./resources/assets/js/util.js"></script>
			<script src="./resources/assets/js/main.js"></script>
			<script src="assets/js/main.js"></script>
			

	</body>
</html>